/* Style instructions for /HTML/anuncioRefCSS-JS.html file */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  align-items: center;
  color: whitesmoke;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin: 1em 0 0.3em;
  font-size: 2.3em;
}

canvas {
  border: 0.3em ridge grey;
}

ul {
  width: 50%;
  max-width: 800px;
  margin: 2em auto;
  list-style-type: none;
  padding-inline-start: 0;
  font-size: small;
}

li {
  margin-bottom: 1.3em;
  line-height: 1.7em;
}

/* Same emoji for all list items */
/* li::before {
   content:"🎯"
} */

li:nth-child(1)::before {
  content: "🎨";
  padding-inline-end: 0.3em;
  font-size: 1.9em;
}

li:nth-child(2)::before {
  content: "🔻";
  padding-inline-end: 0.3em;
  font-size: 1.9em;
}

li:nth-child(3)::before {
  content: "🖱";
  padding-inline-end: 0.3em;
  font-size: 1.9em;
}

li:nth-child(4)::before {
  content: "↘";
  padding-inline-end: 0.3em;
  font-size: 1.9em;
}

/* For alternative description */
/* p {
   color:whitesmoke;
   font-family:'Courier New';
   font-size:small;
   text-align:justify;
} */

footer {
  height: 60px;
  margin-top: auto;
  padding: 0 7.3%;
  align-content: center;
  text-align: center;
  color: silver;
  font-size: 0.7em;
}