/* This is a complementary and testing CSS file for
   blogTailwind.html which primarily uses Tailwind CSS.  */

/* h1 {
   font-family: monospace;
   font-size: 3.3em;
   font-variant: small-caps;
   word-spacing: -6px;
   line-height: 38px;
   text-shadow:#2F2F2F -2px 0 13px;
}
h2 {
   font-family: monospace;
   font-size: 2.7em;
   line-height: 22px;
   text-shadow:dimgrey -2px -2px 2px;
}
h3 {
   font-family: sans-serif;
   font-size: 1.1em;
   line-height: 11px;
   letter-spacing: 0.03em;
}
h6 {
   font-family: sans-serif;
   font-size: 0.63em;
   line-height: 0px;
}
ul {
   font-family: sans-serif;
   font-size: 0.9em;
}
p {
   font-family: monospace;
   font-size: 1.03em;
   text-align: justify;
} */
em, strong {
   font-size: 1.1em;
}
.developer {
   font-size: 1.35em;
   font-variant: small-caps;
   letter-spacing: 0.06em;
}
.fuente {
   margin: 0.25rem;
   font-family: sans-serif;
   font-size: 0.6em;
   letter-spacing: 0.06em;
}