@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
   margin:0;
   background-color: moccasin;
   color: deeppink;
   font-family: 'Shadows Into Light';
   text-align: center;
}
h1 {
   background-color: darkmagenta;
   color: moccasin;
   font-variant: small-caps;
   font-size: 4.3em;
   width: 99.3%;
   margin: 0;
   border-style: solid;
   border-width: 0.3rem;
   border-color: deeppink;
   padding: 0.7rem 0;
   position: sticky;
   top: 0em;
}
h1 span {
   border: medium dotted pink;
   border-radius: 1.3rem;
   font-size: 1.3em;
   background-color: deeppink;
   padding: 0 0.5rem;
}
h2 {
   background-color: pink;
   color: darkmagenta;
   font-size: 1.9rem;
   margin: 0.2em 0 0;
   padding: 0.7rem;
}
em {
   font-style: normal;
   font-size: 1.1em;
}
#infoGen {
   padding: 0.7em 3.7em;
   font-size: 1.1em;
}
#habra {
   background-color: pink;
   color: darkmagenta;
   margin: 0;
}
#habra div {
   display: flex;
   justify-content: center;
   padding: 1.1em;
}
#imgTienda {
   max-width: 50%;
   margin: 2.3em 1.3em 0 2.3em;
   border-style: solid;
   border-width: 0.2rem;
   border-color: deeppink;
}
#habraLista {
   float: right;
   min-width: 37%;
   margin: auto 0;
   font-size: 1.3rem;
   text-align: left;
}
#habraLista li:first-child {
   list-style-type: none;
   margin-bottom: 0.3em;
   font-size: 1.3em;
}
#pieHabra {
   margin: 0.7em;
   padding: 0 0 1.3em;
   font-size: 1.7rem;
   /* clear: both; */
}

footer p { margin-top: 1.9em; }

input {
   color: moccasin;
   background-color: deeppink;
   border: outset thick darkmagenta;
   padding: 0.3em;
   margin-bottom: 1.9em;
   font-size: 1.1em;
   font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
input:hover {
   color: darkmagenta;
   background-color: pink;
   border-color: deeppink;
}

input:active { border-style: inset; }

hr {
   width:79%;
   border:thin ridge darkmagenta;
}
aside {
   margin-bottom: 1.3em;
   color: darkmagenta;
   font: small monospace;
}