@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
   font-size: 10px;
   letter-spacing: 1px;
}

body {
   margin: 0;
   background-color: moccasin;
   color: deeppink;
   font-family: 'Shadows Into Light';
   text-align: center;
}

header {
   position: sticky;
   top: 0;
}

h1 {
   margin: 0;
   border-style: solid;
   border-image-source: repeating-linear-gradient(123deg, deeppink 5%, darkmagenta 10%, deeppink 15%);
   border-image-slice: 11;
   border-image-width: 0.3rem;
   padding: 1.7rem 2.7rem 2rem;
   background: linear-gradient(darkmagenta, deeppink, darkmagenta);
   color: moccasin;
   font-size: 5.3rem;
   font-variant: small-caps;
}

h1 span {
   border: medium dotted moccasin;
   border-radius: 17px;
   padding: 0 0.1em 0.1em;
   background-color: darkmagenta;
   color: deeppink;
   font-size: 1.3em;
}

h2 {
   margin: 0.7rem 0;
   padding: 1.3rem 3rem;
   background-color: pink;
   color: darkmagenta;
   font-size: 2.9rem;
}

em {
   font-size: 1.1em;
   font-style: normal;
}

#infoGen {
   width: 70%;
   margin: 7vh auto;
   font-size: 1.7rem;
   line-height: 3.3rem;
}

#habra {
   padding: 4.3rem 0 1.3rem;
   background-color: pink;
   color: darkmagenta;
}

#habra div {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

#imgTienda {
   width: 50%;
   max-width: 750px;
   min-width: 350px;
   margin-left: 8%;
   margin-right: 2%;
   border: 0.5rem solid;
   border-image-source: repeating-linear-gradient(45deg, deeppink 5%, darkmagenta 10%, deeppink 15%);
   border-image-slice: 7;
}

ul {
   width: 40%;
   min-width: 250px;
   font-size: 1.9rem;
   text-align: left;
}

li:first-child {
   list-style-type: none;
   font-size: 1.3em;
}

#pieHabra {
   font-size: 2rem;
}

.registro p {
   margin: 3vh 0 1.3rem;
   font-size: 1.7rem;
}

input {
   margin-bottom: 1.3rem;
   border: outset darkmagenta;
   border-radius: 5px;
   padding: 0.7rem;
   background-color: deeppink;
   color: moccasin;
   font-size: 1.7em;
   font-variant: small-caps;
   font-weight: bold;
   letter-spacing: 1px;
}

input:hover {
   border-color: deeppink;
   background-color: pink;
   color: darkmagenta;
}

input:active {
   border-style: inset;
}

hr {
   width: 70%;
   border: thin solid;
   border-image-source: radial-gradient(darkmagenta, deeppink, darkmagenta);
   border-image-slice: 10;
}

aside {
   margin: 1.3rem 0 2rem;
   color: darkmagenta;
   font-family: monospace;
   letter-spacing: 0;
}