/* Style instructions for the peceraProcessingJS.html file */
body {
   background-color:black;
   margin: 1.1em;
}
h1 {
   color:goldenrod;
   font-family:'Courier New', Courier, monospace;
   font-size:2.3em;
}
canvas {
   border: 0.2em ridge grey;
}
p {
   color:goldenrod;
   font-family:'Courier New', Courier, monospace;
   font-size:small;
   text-align:justify;
}