/* This is a complementary CSS file for /HTML/recipeBook.html which primarily uses Bootstrap. */

/* HEADER */

header h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 23px black, 0 0 7px darkred;
}

ol {
  line-height: 1.7em;
  font-size: 0.79em;
}

ol:hover {
  line-height: 2em;
}

ol li:hover {
  transform: scale(1.3) translateX(13%);
  transition: transform 0.3s;
}

/* MAIN & FOOTER */

section {
  min-height: 100vh;
}

.time_serves {
  list-style-type:circle;
  font-size: 0.7em;
}

table,
p {
  font-size: 0.83em;
}

p {
  text-align: justify;
}

aside {
  font-size: 0.73em;
}

@media (min-width: 540px) {
  ol,
  .time_serves,
  table,
  p {
    font-size: initial;
  }

  aside {
    font-size: 0.83em;
  }
}