/* This is a complementary CSS file for /HTML/recipeBook.html which primarily uses Bootstrap. */

header h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 23px black, 0 0 7px darkred;
}

/* h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

#cont {
  background-color: moccasin;
  padding-top: 5px;
  padding-bottom: 7px;
}

.time_serves {
  background-color: tomato;
  /* list-style-type:circle; */
  padding: 7px 31px;
  font-size: 13px;
}

p {
  background-color: dimgray;
  padding: 7px;
  text-align: justify;
}

em {
  font-size: small;
}

aside {
  font-size: small;
  color: gray;
}