:root {
  --text-color: #006161;
  --highlight-text-color: #006719;
  --shadow: 0 5px 17px rgba(79, 156, 255, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  height: 100vh;
  min-width: 375px;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-family:
    Inter,
    "Segoe UI",
    Roboto,
    system-ui,
    -apple-system,
    "Helvetica Neue",
    Arial;
}

#app {
  height: 100%;
  max-width: 900px;
  border-radius: 19px;
  padding: 2.3rem 1.3rem;
  background-color: mediumaquamarine;
}

h1 {
  margin-bottom: 2rem;
  border-radius: 13px;
  padding: 0.5rem 1rem;
  background-color: var(--highlight-text-color);
  text-align: center;
  font-size: 2.5rem;
  color: mediumaquamarine;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 89%;
  margin: 0 auto 2rem;
  font-size: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

label {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--text-color);
}

input,
select {
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  color: var(--highlight-text-color);
  transition:
    box-shadow 0.1s,
    border-color 0.1s,
    transform 0.05s;
}

input[type="text"] {
  width: 100%;
  padding: 0.3rem 0.5rem 0.2rem;
}

input[type="date"] {
  width: min-content;
  padding: 0.2rem;
  text-align: center;
}

select {
  width: min-content;
  padding: 0.2rem 0.2rem 0.3rem;
}

input:focus,
select:focus {
  box-shadow: var(--shadow);
  border-color: rgba(79, 156, 255, 0.7);
  transform: translateY(-1px);
}

.form-actions {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 7px;
}

button {
  border: none;
  border-radius: 7px;
  padding: 7px 11px;
  background: linear-gradient(180deg, springgreen, aquamarine);
  color: var(--highlight-text-color);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition:
    transform 0.08s ease,
    box-shadow 0.12s ease,
    opacity 0.12s;
}

button:hover {
  box-shadow: var(--shadow);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.97);
}
