*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  height: 100vh;
  min-width: 375px;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-family:
    Inter,
    "Segoe UI",
    Roboto,
    system-ui,
    -apple-system,
    "Helvetica Neue",
    Arial;
}

#app {
  height: 100%;
  max-width: 800px;
  border-radius: 19px;
  padding: 2rem 1.3rem;
  background-color: silver;
}
