/* Style instructions for: index.html, peceraProcessingJS.html, shakkyChihuahuaOO.html, tic-tac-toe.html */
@import url(https://fonts.bunny.net/css?family=anonymous-pro:400,400i,700,700i);

html {
   font-size: 10px;
}

body {
   margin: 0;
   padding: 0;
   background-color: black;
   color: goldenrod;
   font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
   text-align: center;
}

h1 {
   margin: 3.7rem 0 1.7rem;
   font-size: 4.3rem;
}

canvas {
   border: 3px ridge grey;
}

p {
   width: 60vw;
   max-width: 700px;
   margin: 2rem auto;
   font-size: 1.3rem;
   line-height: 2.3rem;
   letter-spacing: 1px;
}

p:first-of-type {
   margin-top: 3.7rem;
}

p::first-letter {
   font-size: x-large;
   font-weight: bold;
}

p.index {
   margin: 7rem auto 1rem;
   font-size: 1.7rem;
}

#description {
   font-size: 1.5rem;
}

nav {
   display: flex;
   justify-content: center;
   line-height: 2.3rem;
   font-size: 1.7rem;
   letter-spacing: 1px;
   text-align: left;
}

form {
   width: 66vw;
   max-width: 540px;
   min-width: 320px;
   margin: 0 auto;
}

label {
   display: block;
   margin: 1.7rem 0;
   font-size: 1.3rem;
   font-weight: bold;
}

.h30px {
   height: 30px;
   align-content: center;
}
.w100px {
   display: inline-block;
   width: 100px;
}

.fw400 {
   font-weight: 400;
   font-size: 1.5rem;
   vertical-align: middle;
}

fieldset {
   margin: 2.3rem;
   border: ridge gray;
   padding: 2rem;
}

legend {
   font-size: 1.3rem;
   font-weight: bold;
}

fieldset label {
   display: inline;
   margin-right: 3.7rem;
}

fieldset label:last-of-type {
   margin-right: 0;
}

em {
   border-radius: 5px;
   padding: 0.2rem 0.3rem 0.3rem 0.5rem;
   background-color: #222;
   font-size: 1.1em;
}

input, textarea {
   width: 100%;
   min-height: 2rem;
   margin: 0.7rem auto 0;
   border: 1px solid gray;
   background-color: #131313;
   color: gainsboro;
}

#number {
   display: block;
   width: 33%;
}

#name, #email, #number {
   padding-left: 0.5rem;
}

select {
   width: 7rem;
   height: 2.3rem;
   margin: 1rem 0;
}

textarea {
   padding: 0.5rem;
}

input[type="submit"] {
   display: block;
   width: 20%;
   min-width: 100px;
   height: 3rem;
   margin: 2rem auto;
   border-radius: 7px;
   box-shadow: 0.5px 0.5px 1px 2px gainsboro;
   background-color: gray;
   color: #131313;
   font-size: 1.5rem;
}

input[type="submit"]:hover {
   background-color: gainsboro;
   color: black;
}

input[type="submit"]:active {
   background-color: #131313;
   color: gainsboro;
   box-shadow: -0.5px -0.3px 1px 2px gainsboro;

}

.inline {
   width: unset;
   margin: 0 0.5rem 0 0;
   vertical-align: middle;
}

fieldset .fw400 {
   margin-left: -0.5rem;
   vertical-align: middle;
}

a {
   color: goldenrod;
   text-decoration: none;
   transition-duration: 250ms;
}

a:visited {
   color: darkgoldenrod;
}

a:hover {
   color: silver;
   font-size: 1.1em;
   transition-duration: 350ms;
}

footer {
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   margin: 2.3rem auto;
   color: silver;
   font-size: 1.3rem;
   text-align: center;
}

#juliogitlab {
   font-size: 1.1em;
   font-weight: bold;
}

#juliogitlab:hover {
   color: gold;
   font-size: 1.3em;
   letter-spacing: 1px;
}